<div class="block {{ classes }} {{#if image}}has-image {{/if}}">
  {{#if image}}
  <div class="block_image {{#if has_svg}}has-svg {{/if}}">
    <svg class="i-svg">
      <use xlink:href="#i-{{default svg 'info'}}"></use>
    </svg>
  </div>
  {{/if}}
  <div class="block_content">
    <h4 class="block_title"><a href="#">{{default title 'Digital Services Strategy'}}</a></h4>
    <p class="block_subtitle"><a href="#">{{default subtitle 'San Francisco’s Digital Services Strategy is about transforming the customer experience of City services.'}}</a></p>

    {{#if button}}
      {{> button classes="small hollow" name="Read More"}}
    {{/if}}
  </div>
</div>
