////
/// Button
////

@include cornerstone-button;

.button,
button,
[type=button],
[type=submit],
[type=reset],
[type=image] {

  &.tertiary {
    color: color(primary) !important;

    &:hover, &:focus {
      background-color: darken(color(primary-alt-lightest), 2%) !important;
      color: color(primary-darker) !important;
    }
  }

  &.small {
    @include padding(1rem 1.5rem);
  }
}

.icon-button {
  svg {
    height: 1.4rem;
    width: 1.4rem;
    margin-bottom: -2px;
  }

  &.has-icon-left {
    svg {
      margin-right: .5rem;
      margin-left: -.5rem;
    }
  }

  &.has-icon-right {
    svg {
      margin-left: .5rem;
      margin-right: -.5rem;
    }
  }
}

.icon-link,
.icon-link--button {
  svg {
    height: 1rem;
    width: 1rem;
  }
}

.icon-link--button {
  @include padding(1rem);
  background-color: color(primary-alt-lightest);
  border-radius: $button-radius;
  font-size: 1.4rem;

  @include grid-media($media-md) {
    font-size: 1.6rem;
  }
}