////
/// Typography
////

html {
  font-family: $font-sans;
  font-size: $em-base;
}

body {
  font-size: $base-font-size;
}

p {
  line-height: $base-line-height;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: color(primary);
  text-decoration: underline;
  transition: $button-transition;

  &:hover,
  &:active {
    color: color(primary-darker);
  }

  &:visited {
    color: color(primary);
  }

  &:focus {
    // box-shadow: $focus-shadow;
    // outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font-serif;
  font-weight: $font-normal;
  line-height: $heading-line-height;
  margin-bottom: .5em;
  margin-top: 1.5em;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}

// Remove user agent styles

cite,
var,
address,
dfn {
  font-style: normal;
}

em {
  font-size: 1.6rem;
  font-style: italic;
  letter-spacig: normal;
  text-transform: none;
}

blockquote {
  border-left: 2px solid color(gold);

  @include grid-media($media-md) {
    @include margin(null 4rem);
  }

  p {
    @include h4();
    font-family: $font-serif;
    font-style: italic;
    padding-left: 3rem;
  }
}

// Custom typography

.text-content {
  // p,
  // ul,
  // ol {
  //   max-width: $text-max-width;
  // }

  ul > p {
    margin: 0;
  }

  h2, h3, h4, h5, h6 {
    font-family: $font-sans;
    font-weight: $font-bold;
  }

  h2 {
    @include h4();
    margin-top: 5rem;
  }

  h3, h4 {
    @include h5();
  }

  h5 {
    @include h6();
  }

  hr {
    @extend .border-5;
    margin-top: 5rem;
  }
}

.text-sans {
  p,
  a,
  li,
  span {
    font-family: $font-sans;
  }

  a {
    border-bottom: none;
    font-weight: $font-bold;
  }
}

.text-serif {
  p,
  a,
  li,
  span {
    font-family: $font-serif;
  }
}

.background-dark,
.has-background-dark {
  @include background-dark();
}

.text-small {
  font-size: $h6-font-size;
  margin-top: 0;
}

.lead-text,
.has-dropcap {
  @include drop-cap-inline();
}

.counter-list {
  @include counter-list();
}
