////
/// Footer
////

@import '../../../../golden/css/scss/utilities/utilities';

footer .region-footer,
.site-footer {
  @include background-dark();
  background-color: color(grey-dark);
  margin-bottom: -1px;

  // Branding
  .logo,
  .block-system-branding-block {

    .logo-text,
    .site-name {
      font-size: 1.8rem;
      line-height: 2.5rem;
      font-family: $font-serif;
      font-weight: normal;
      font-style: normal;
      letter-spacing: normal;
    }
  }

  .i-logo {
    height: 9rem;
    width: 9rem;
    display: block;
    margin-bottom: 2rem;

    use {
      fill: color(white);
    }
  }
}

.footer-container {
  @include centered-container;
  @include grid-container;
  @include padding(4rem null null null);

  @include grid-media($media-md) {
    @include padding(4rem null);
  }

  .footer-lead {
    @include grid-column(12);

    @include grid-media($media-md) {
      @include grid-column(3);
    }
  }

  .footer-group .block-block-content {
    @include grid-column(12);
    padding-bottom: 4rem;

    @include grid-media($media-md) {
      @include grid-column(3);
      padding-bottom: 0;
      padding-top: 1rem;
    }

    @include grid-media($media-lg) {
      padding-right: 5%;
    }

    p,
    a {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    a {
      text-decoration: underline;
      padding-top: 2rem;
      display: inline-block;
    }
  }

  .footer-group_title,
  .footer-group .block-block-content h2 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .inline-form {
    input,
    button {
      margin-bottom: 0;
    }
  }
}

.footer-nav {
  background-color: color(black);
}

.footer-nav_container {
  @include centered-container;

  .menu {
    @include padding(1rem null);
    @include grid-column(12);
    @include margin(0 null);

    @include grid-media($media-md) {
      @include padding(.8rem null);
    }

    .menu-item {
      display: block;
      font-size: 1.6rem;

      @include grid-media($media-md) {
        display: inline;
      }

      a {
        @include padding(1rem 3rem 1rem null);
        display: block;

        @include grid-media($media-md) {
          @include padding(0 null);
          display: inline;
        }

        &.is-active,
        &:visited {
          color: color(white);
        }
      }
    }
  }
}
