////
/// Header
////

@import '../../../../golden/css/scss/utilities/utilities';
@import '../hero/hero';

header .region-header,
.site-header {
  @include grid-container;
  // background-color: color(white);
  position: relative;
  z-index: 5;

  @include grid-media($media-lg) {
    height: 11rem;
    z-index: auto;
  }

  // Branding
  .logo,
  .block-system-branding-block {
    @include padding(2rem 2rem);
    // position: relative;
    background-color: color(white);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    width: 24rem;
    z-index: 3;

    @include grid-media($media-lg) {
      @include padding(4rem 2rem);
      @include position(absolute, -4.1rem null null 0);
    }

    .logo-text,
    .site-name {
      font-size: 1.8rem;
      font-weight: $font-bold;
      letter-spacing: normal;
      font-style: normal;

      a {
        color: color(base);
      }
    }
  }

  .i-logo {
    @include position(absolute, -4.5rem null null -16rem);
    height: 30rem;
    width: 30rem;
    z-index: 2;

    use {
      fill: rgba(0, 0, 0, 0.125);
    }
  }
}

.site-nav {
  // background-color: color(white);
}

.nav-container {
  @include centered-container;
}

// Navbar
// Holds branding and mobile menu button
.nav-bar {
  @include grid-container;
  float: left;
  position: relative;
  width: 100%;

  @include grid-media($media-lg) {
    width: auto;
  }
}

.nav-open,
.nav-close {
  @include button-unstyled;
  @include position(absolute, 3rem 2rem null null);
  z-index: 2;

  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.nav-open {
  @include grid-media($media-lg) {
    display: none;
  }
}

.nav-close {
  @include grid-media($media-lg) {
    display: none;
  }
}

// Main Navigation
// Contains main menu, search and mobile close button
.navigation {
  &.menu--main {
    // @include position(fixed, 0 0 0 auto);
    // transform: translateX(26rem);
    // width: 26rem;
    z-index: 2;
    clear: both;

    @include grid-media($media-lg) {
      @include grid-container;
      float: right;
      position: relative;
      transform: translateX(0);
      width: auto;
      clear: normal;
    }

    // &.is-open {
    position: relative;
    // background-color: color(white);
    // }

    .menu {
      background-color: color(grey-lightest);
      clear: both;
      display: none;
      margin: 0;
      position: absolute;
      width: 100%;
      z-index: 5;

      @include grid-media($media-lg) {
        background-color: transparent;
        clear: none;
        display: block;
        float: left;
        position: relative;
        width: auto;
      }
    }

    &.is-open .menu {
      display: block;
    }

    .menu-item {
      @include margin(null 2rem);
      border-bottom: 1px solid color(grey-lighter);
      display: block;
      font-size: 1.6rem;
      font-weight: $font-semi;
      letter-spacing: 1px;
      padding: 0;

      @include grid-media($media-lg) {
        @include margin(null 1.5rem);
        border-bottom: none;
        display: inline-block;
      }

      a {
        @include padding(2rem null);
        display: block;
        color: color(primary-darkest);
        text-decoration: none;

        @include grid-media($media-lg) {
          @include padding(null 0.5rem);
          display: inline-block;
        }

        &:hover {
          @include grid-media($media-lg) {
            border-bottom: 2px solid color(primary);
          }
        }

        &.is-active {
          @include grid-media($media-lg) {
            border-bottom: 2px solid color(red);
          }
        }
      }
    }
  }
}

// Search
.nav-search {
  @include button-unstyled;
  @include padding(2rem);
  display: none;
  float: right;
  line-height: 2.4rem;
  margin-bottom: 0;

  @include grid-media($media-lg) {
    display: block;
  }
}

.nav-search--mobile {
  @include padding(2rem);
  background-color: color(grey-lightest);
  display: block;

  @include grid-media($media-lg) {
    display: none;
  }

  input,
  button {
    margin-bottom: 0;
  }
}

// Translations
.translation-bar {
  @include background-dark();
  background-color: color(grey-dark);
  border-bottom: 4px solid color(primary);
  position: relative;
  z-index: 2;
}

.translation-bar_container {
  @include grid-container;
  @include centered-container;

  .menu {
    @include padding(0.8rem null);
    float: right;
    margin: 0;

    .menu-item {
      display: inline-block;
      font-size: 1.4rem;

      @include grid-media($media-lg) {
        font-size: 1.5rem;
      }

      a {
        @include padding(null 1rem);
      }
    }
  }
}

.version-bar {
  @include background-dark();
  background-color: color(primary);
  color: color(white);
  z-index: 5;
  position: relative;

  a {
    text-decoration: underline;
  }
}

.version-bar_container {
  @include padding(0.8rem 2rem);
  @include grid-container;
  @include centered-container;

  @include grid-media($media-lg) {
    @include padding(0.8rem null);
  }
}

.version-bar_message {
  display: block;
  margin-bottom: 0.5rem;

  @include grid-media($media-md) {
    display: inline;
    margin-bottom: 0;
  }
}

.version-bar_back {
  float: right;

  @include grid-media($media-md) {
    display: inline;
  }
}
