////
/// Section Text
////

@import '../../../../golden/css/scss/utilities/utilities';


.section-form {

}

.section-form_container {

}

.form-group {
  textarea {
    min-height: 18rem;
  }

  label {
    font-weight: $font-bold;
  }
}

.form-group_header {
  margin-bottom: 2rem;
}

.form-group_title {
  @include h3();
  margin-bottom: 0;
}

.form-group_subtitle {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.form-group-contact {
  @include grid-container;

  @include grid-media($media-md) {
    @include grid-collapse;
  }

  .form-group_item {
    @include grid-media($media-md) {
      @include grid-column(6);
    }
  }
}
