////
/// Card Grid
////

@import '../../../../golden/css/scss/utilities/utilities';

.section-title-card-set {
  @include grid-container;
  @include padding(null null 4rem null);

  .card {
    border: 1px solid color(grey-lighter);

    p {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }

  .card_content {
    @include first-last-spacing();
  }

  &.has-background-color {
    @include padding(7rem null 4rem null);
    background-color: color(grey-lightest);

    .card {
      @include padding(3rem 3rem 6rem 3rem);
      background-color: color(white);
      border: none;
      position: relative;
    }

    .card_link {
      @include position(absolute, null null 3rem 3rem);
    }
  }

  &.has-borders {
    .card {
      @include padding(3rem);
      background-color: color(white);
      border: 1px solid color(grey-light);
    }
  }

  &.has-two-columns--md {
    .header-group,
    .card {
      @include grid-column(12);
      margin-bottom: 3rem;

      @include grid-media($media-md) {
        @include grid-column(6);
      }
    }
  }

  &.has-three-columns--md {
    .header-group,
    .card {
      @include grid-column(12);
      margin-bottom: 3rem;

      @include grid-media($media-md) {
        @include grid-column(6);
      }

      @include grid-media($media-lg) {
        @include grid-column(4);
      }
    }
  }
}

.section-title-card-set_container {
  @include centered-container;
  display: flex;
  flex-wrap: wrap;
}