{{> hero classes="is-tall"}}
<div class="row padding-bottom-4">
  <div class="columns large-6 padding-top-4">
    {{> block classes="is-centered bg-grey-lightest padding-1" image=true has_svg=true has_button=true subtitle="San Francisco’s Digital Services Strategy is about transforming the customer experience of City services."}}
  </div>
  <div class="columns large-6 padding-top-4">
    {{> block image=true img="https://digitalservices.sfgov.org/assets/gg-bg.jpg" title="True North Objectives" subtitle="San Francisco’s Digital Services Strategy is about transforming the customer experience of City services."}}
  </div>
  <div class="columns large-12 padding-top-4">
    {{> block classes="block-inline" image=true img="https://digitalservices.sfgov.org/assets/gg-bg.jpg" title="True North Objectives" subtitle="San Francisco’s Digital Services Strategy is about transforming the customer experience of City services."}}
  </div>
</div>