////
/// Buttons
////

/// Font family for button elements.
$button-font-family: $font-sans-alt !default;

/// Padding inside buttons.
$button-padding: 1.2em 1.75em !default;

/// Margin around buttons.
$button-margin: 0 0 1em 0 !default;

/// Default fill for buttons. Can either be `solid` or `hollow`.
$button-fill: solid !default;

/// Default background color for buttons.
$button-background: color(primary) !default;

/// Background color on hover for buttons.
$button-background-hover: scale-color($button-background, $lightness: -15%) !default;

/// Font color for buttons.
$button-color: color(white) !default;

/// Alternative font color for buttons.
$button-color-alt: color(black) !default;

/// Border radius for buttons, defaulted to global-radius.
$button-radius: $border-radius !default;

/// Border width for hollow outline buttons
$button-hollow-border-width: 2px !default;

/// Sizes for buttons.
$button-sizes: (
  tiny: 1rem,
  small: 1.3rem,
  default: 1.4rem,
  large: 1.6rem,
) !default;

/// Coloring classes. A map of classes to output in your CSS, like `.secondary`, `.success`, and so on.
$button-palette: (
  primary:                      #0077da,
  secondary:                    #fdb81e,
  tertiary:                     #f4f6fc,
) !default;

/// opacity for a disabled button.
$button-opacity-disabled: 0.25 !default;

/// Background color lightness on hover for buttons.
$button-background-hover-lightness: -20% !default;

/// Color lightness on hover for hollow buttons.
$button-hollow-hover-lightness: -50% !default;

/// transitions for buttons.
$button-transition: background-color 0.25s ease-out, color 0.25s ease-out !default;
