////
/// Colors
////

/// This variable is a sass map that overrides our generic color map.
/// Use this to define your project's color palette.
///

$colors: (
    primary:                      #0077da,
    primary-darker:               #f90f90,
    primary-darkest:              #205493,
    primary-alt:                  #008fff,
    primary-alt-dark:             #0067be,
    primary-alt-darker:           #00579E,
    primary-alt-darkest:          #00437A,
    primary-alt-light:            #ffebcc,
    primary-alt-lightest:         #daeeff,
    secondary:                    #00bed5,
    secondary-dark:               #0097A8,
    secondary-darker:             #008A99,
    secondary-darkest:            #006E7A,
    secondary-light:              #3CBECD,
    secondary-lightest:           #CBEFF1,

    white:                        #ffffff,
    snow:                         #f9f9f9,
    dust:                         #f5f8f9,
    smoke:                        #f5f5f5,
    charcoal:                     #555555,
    oil:                          #333333,
    base:                         #212121,
    black:                        #000000,
    grey:                         #5b616b,
    grey-dark:                    #323a45,
    grey-medium:                  #757575,
    grey-light:                   #aeb0b5,
    grey-lighter:                 #d6d7d9,
    grey-lightest:                #f1f1f1,
    gold:                         #fdb81e,
    gold-light:                   #f9c642,
    gold-lighter:                 #fad980,
    gold-lightest:                #fff1d2,
    green:                        #2e8540,
    green-light:                  #4aa564,
    green-lighter:                #94bfa2,
    green-lightest:               #e7f4e4,
    red:                          #e31c3d,
    red-light:                    #E7405C,
    red-lighter:                  #EC697F,
    red-lightest:                 #f9d2d8,
) !default;
