////
/// Colors
////

/// This variable is a sass map that overrides our generic color map.
/// Use this to define your project's color palette.
///

$colors: (
    primary:                      #0077da,
    primary-darker:               #f90f90,
    primary-darkest:              #205493,
    primary-alt:                  #008fff,
    primary-alt-dark:             #0067be,
    primary-alt-darker:           #00579E,
    primary-alt-darkest:          #00437A,
    primary-alt-light:            #ffebcc,
    primary-alt-lightest:         #daeeff,
    secondary:                    #00bed5,
    secondary-dark:               #0097A8,
    secondary-darker:             #008A99,
    secondary-darkest:            #006E7A,
    secondary-light:              #3CBECD,
    secondary-lightest:           #CBEFF1,
) !default;
