////
/// Form Settings
////

$checkbox-background:       color(white)                                    !default;
$checkbox-box-shadow:       0 0 0 1px #cccccc                               !default;
$checkbox-radius:           rem-calc(3)                                     !default;
$checkbox-outline-color:    color(grey-light)                               !default;
$checkbox-radius:           rem-calc(3)                                     !default;
$checkbox-size:             rem-calc(20)                                    !default;
$form-spacing:              rem-calc(20)                                    !default;
$input-background:          color(snow)                                     !default;
$input-background-disabled: color(grey-light)                               !default;
$input-background-focus:    color(white)                                    !default;
$input-border:              1px solid #cccccc                               !default;
$input-border-focus:        1px solid color(grey-light)                     !default;
$input-color:               rgba(0, 0, 0, 0.75)                             !default;
$input-color-focus:         #3e94cf                                         !default;
$input-cursor-disabled:     not-allowed                                     !default;
$input-font-size:           rem-calc(24)                                    !default;
$input-line-height:         $base-line-height                               !default;
$input-margin:              rem-calc(10)                                    !default;
$input-padding:             rem-calc(10)                                    !default;
$input-padding-lg:          rem-calc(18) rem-calc(20)                       !default;
$input-placeholder-color:   color(grey-light)                               !default;
$input-radius:              rem-calc(4)                                     !default;
$input-shadow-focus:        0 0 5px 1px color(grey-light)                   !default;
$input-transition:          box-shadow 0.5s, border-color 0.25s ease-in-out !default;
$radio-box-shadow:          0 0 0 2px #ffffff, 0 0 0 3px #cccccc            !default;