////
/// Table Settings
////

$table-background: transparent !default;
$table-body-color: color(charcoal) !default;
$table-border: none !default;
$table-border-radius: 0 !default;
$table-font-size: rem-calc(14) !default;
$table-font-weight: $font-semi !default;
$table-head-background: color(smoke) !default;
$table-head-border: 1px solid color(primary) !default;
$table-head-font-size: rem-calc(12) !default;
$table-head-color: color(oil) !default;
$table-highlight-background: #fff7f3 !default;
$table-highlight-border-color: #ff6627 !default;
$table-line-height: 1.5 !default;
$table-padding: rem-calc(20) !default;
$table-stripe: even !default;
$table-striped-background: color(dust) !default;
$show-header-for-stacked: false !default;
