////
/// Typography
////

$font-stack-helvetica: 'Helvetica Neue', 'Helvetica', 'Arial';
$font-stack-georgia: 'Georgia', 'Times', 'Times New Roman';
$font-stack-monaco: 'Monaco', 'Consolas', 'Lucida Console';

/// Base Font Family Map
$base-font-families: (
  monospace:      "#{$font-stack-monaco}",
  sans-serif:     "'Lato', #{$font-stack-helvetica}",
  sans-alt:       "'Open Sans', #{$font-stack-helvetica}",
  serif:          "'Droid Serif', #{$font-stack-georgia}"
) !default;

/// Base Font Family Setting.
$base-font-family: unquote(map-get($base-font-families, sans-serif)) !default;

/// Heading Font Family.
$heading-font-family: unquote(map-get($base-font-families, serif)) !default;

/// Monospace Font Family.
$monospace-font-family: unquote(map-get($base-font-families, monospace)) !default;

// Typography
// Removing the !default from $em-base so we are not inheriting that
// value from Bourbon. Use percentage to respect user browser settings
// for text size. Set to equivalent of 10px for "base 10" rem sizes
// i.e. 1.6rem == 16px
$em-base:             62.5%; // 10px
$base-font-size:      1.6rem !default;
$small-font-size:     1.4rem !default;
$lead-font-size:      1.8rem !default;
$display-font-size:   4.0rem !default;
$display-font-size-md:5.2rem !default;
$h1-font-size:        3.2rem !default;
$h1-font-size-md:     4.8rem !default;
$h2-font-size:        3.0rem !default;
$h2-font-size-md:     4.0rem !default;
$h3-font-size:        2.5rem !default;
$h3-font-size-md:     3.0rem !default;
$h4-font-size:        2.0rem !default;
$h4-font-size-md:     2.6rem !default;
$h5-font-size:        2.0rem !default;
$h6-font-size:        1.6rem !default;
$base-line-height:    1.5 !default;
$heading-line-height: 1.25 !default;
$lead-line-height:    1.5 !default;

$font-sans:           unquote(map-get($base-font-families, sans-serif)) !default;
$font-serif:          unquote(map-get($base-font-families, serif)) !default;
$font-sans-alt:       unquote(map-get($base-font-families, sans-alt)) !default;

$font-thin:           300 !default;
$font-normal:         400 !default;
$font-semi:           600 !default;
$font-bold:           700 !default;
$font-black:          800 !default;

$text-max-width:      53rem !default;
$text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

$letter-spacing-large: .25rem;
$letter-spacing-small: .15rem;
