////
/// Article
////

@import '../../../../golden/css/scss/utilities/utilities';

.article-card {
  @include padding(null null 5rem null);
  padding: 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
}

.article-card_title {
  @include h4();
  font-family: $font-sans;
  font-weight: $font-bold;
  margin-top: 3rem;
}

.article-card_date {
  font-weight: $font-bold;
}