////
/// Aside
////

// Variant
// has-dark-background

@import '../../../../golden/css/scss/utilities/utilities';

.aside {
  @include padding(3rem);

  // Adds dark background color
  &.has-dark-background {
    @include background-dark();
    background-color: color(grey-dark);
  }

  // Adds grey border
  &.has-border {
    border: 1px solid color(grey-light);
  }
}

.aside_title {
  @include h3();
  @include has-dash();
  margin-bottom: 1em;
  margin-top: 0;
}

.aside_content {
  @include first-last-spacing();
}
