////
/// Card Grid
////

@import '../../../../golden/css/scss/utilities/utilities';

@mixin card-grid {
  @include grid-container;
  display: flex;
  flex-wrap: wrap;

  &.has-two-columns--md,
  &.has-three-columns--md {
    .card {
      @include grid-container;
      @include grid-column(12);
      margin-bottom: 3rem;
    }
  }

  // Add two column layout with md breakpoint
  &.has-two-columns--md {
    .card {
      @include grid-media($media-md) {
        @include grid-column(6);
        margin-bottom: 5rem;
      }

      .card_media {
        @include grid-media($media-md) {
          float: left;
          width: 7rem;
          height: 7rem;
        }
      }

      .card_content {
        @include first-last-spacing();
        @include grid-media($media-md) {
          @include margin(null null null 3rem);
          float: left;
          width: calc(100% - 10rem);
        }

        p {
          font-size: 1.8rem;
          line-height: 3rem;
        }
      }
    }
  }

  &.has-three-columns--md {
    .card {
      @include grid-media($media-md) {
        @include grid-column(4);
      }
    }

    .card_media {
      @include grid-media($media-md) {
        float: left;
        width: 7rem;
        height: 7rem;
      }
    }
  }
}

.card-grid {
  @include card-grid;
}
