////
/// Card
////

// Variant
// has-icon
// has-image
// has-icon--left
// has-image--left
// is-centered
// has-border
// has-padding

@import '../../../../golden/css/scss/utilities/utilities';

.card {
  
  &.is-centered {
    text-align: center;
  }

  &.has-border {
    @include padding(3rem);
    border: 1px solid color(grey-light);
  }

  &.no-padding {
    @include padding(0);
  }

  &.has-icon--left {
    @include grid-container;

    .card_media {
      float: left;
      width: 10rem;
      height: 10rem;
    }

    .card_content {
      @include margin(null null null 3rem);
      @include first-last-spacing();
      float: left;
      width: calc(100% - 13rem);
    }

    .card_title {
    }
  }

  &.has-image--left {
    @include grid-media($media-md) {
      @include grid-container;
    }

    .card_image {
      @include grid-media($media-md) {
        @include grid-column(6);
      }
    }

    .card_content {
      @include grid-media($media-md) {
        @include grid-column(6);
      }
    }
  }
}

.card_media {
  margin-bottom: 2rem;

  img {
    display: block;
  }

  svg {
    @include margin(2rem auto 0);
    height: 7.5rem;
    width: 7.5rem;
  }
}

.card_content {

}

.card_title {
  @include margin(null null 1rem null);
  @include h4();
  font-family: $font-sans;
  font-weight: $font-bold;
}

.card_subtitle {
  @include margin(0 null 1rem null);
  font-size: 1.8rem;
}

.card_link {
  font-size: 1.8rem;
}
