////
/// Event
////

@import '../../../../golden/css/scss/utilities/utilities';

.event {
  @include grid-container;
}

.event_date {
  @include margin(0);
  float: left;
  width: 6rem;
  text-align: center;

  a {
    &:hover {
      .event_day {
        background-color: darken(color(primary), 15%);
      }
    }
  }
}

.event_day {
  @include margin(0 auto .5rem auto);
  @include padding(.4rem);
  background-color: color(primary);
  border-radius: 50%;
  color: color(white);
  display: block;
  font-family: $font-serif;
  font-size: 2.2rem;
  height: 4.5rem;
  line-height: 1.6;
  width: 4.5rem;
  transition: $button-transition;

  @include grid-media($media-md) {
    @include padding(.5rem);
    font-size: 2.6rem;
    height: 5rem;
    line-height: 1.6;
    width: 5rem;
  }
}

.event_month {
  @include margin(0);
  display: block;
  color: color(primary);
  font-family: $font-sans;
  font-size: 1.4rem;
  font-weight: $font-semi;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.event_content {
  @include grid-container;
  @include first-last-spacing();
  @include padding(null null 5rem 1rem);
  @include margin(null null null 0);
  float: left;
  width: calc(100% - 6rem);

  @include grid-media($media-md) {
    @include padding(null null 5rem 2rem);
    @include margin(null null null 2rem);
    border-left: 1px solid color(grey-light);
    width: calc(100% - 8rem);
  }
}

.event_title {
  @include h5();
  @include margin(0);
  font-family: $font-sans;
  font-weight: $font-bold;
}

.event_info {
  @include grid-container;

  p {
    @include margin(1rem null);
  }
}

.event_time {
  @include grid-media($media-lg) {
   @include grid-column(6);
   margin-left: 0;
  }
}

.event_place {
  @include margin(1rem null);
  
  @include grid-media($media-lg) {
    @include grid-column(6);
  }
}

.event_link {
  display: inline-block;
}
