////
/// Card
////

// Variant
// is-next

@import '../../../../golden/css/scss/utilities/utilities';

.event-card {
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 4rem;

  &.is-next {
    .event-card_supertitle {
      color: color(red);
    }

    .event-card_date {
      a {
        background-color: color(primary);
        
        &:hover {
          background-color: darken(color(primary), 15%);
        }
      }
    }
  }
}

.event-card_content {
  @include padding(2rem);
}

.event-card_date {
  display: block;

  a {
    @include padding(1.5rem 2rem);
    background-color: color(primary-darkest);
    display: block;
    transition: $button-transition;

    &:hover {
      background-color: darken(color(primary-darkest), 15%);
    }
  }
}

.event-card_day {  
  @include h1();
  color: color(white);
  font-family: $font-serif;
  margin-right: 1rem;
}

.event-card_month {
  @include h4();
  color: color(white);
  font-family: $font-sans;
}

.event-card_supertitle {
  @include margin(0 null 1rem null);
  font-size: 1.6rem;
  font-weight: $font-semi;
  color: color(grey-dark);
}

.event-card_title {
  @include margin(1rem null 1rem null);
  @include h4();
  font-family: $font-sans;
  font-weight: $font-bold;

  a {
    color: color(base);

    &:visited {
      color: color(base);
    }
  }
}

.event-card_subtitle {
  @include margin(0 null 1rem null);
  font-size: 1.8rem;
}

.event-card_link {
  @include position(absolute, null null 2rem null);
  display: inline-block;
  align-self: flex-end;
}
