////
/// Summary items
////

@import '../../../../golden/css/scss/utilities/utilities';

.summary-item_title {
  @include h5();
  font-family: $font-sans;
  font-weight: $font-bold;
  margin-top: 0;

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.summary-item {
  padding-bottom: 2rem;
  
  svg {
    color: color(primary);
  }

  p {
    line-height: 2.5rem;
  }
}