////
/// Profile Card
////

@import '../../../../golden/css/scss/utilities/utilities';

.profile-card {
  
}

.profile-card_header {
  @include has-dash($dash-color: grey-lighter);
  padding-right: 3rem;
}

.profile-card_name {
  @include h5();
  font-family: $font-sans;
  font-weight: $font-bold;
  margin-top: 1.5rem;
}

.profile-card_title {
  margin: 0;
}

.profile-card_department {
  @include ellipsis;
}

.profile-card_contact {

}
