////
/// Event Slat
////

// Variant
// has-columns

@import '../../../../golden/css/scss/utilities/utilities';

.project-slat {
  @include padding(2.5rem 1rem 2.5rem 0);

  border-bottom: 1px solid rgba(191, 201, 212, 0.5);

  p {
    margin: 0;
  }
}

.project-slat_content {
  display: table;
  width: 100%;
}

.project-slat_header {
  @include grid-media($media-md) {
    display: table-cell;
  }
}

.project-slat_value {
  font-weight: $font-bold;
  margin-top: 2rem;

  @include grid-media($media-md) {
    display: table-cell;
    text-align: right;
    margin-top: 0;
  }
}

.project-slat_title {
  display: block;
  margin-top: 0;
  font-family: $font-sans;
  font-weight: $font-bold;
  font-size: 2rem;
  padding-right: 1rem;

  @include grid-media($media-md) {
    display: inline;
  }
}

.project-slat_secondary {
  font-weight: $font-normal;
}

.project-slat_tag {
  font-weight: $font-bold;
  color: color(primary);
}

.project-slat_description {
  font-size: 1.8rem;
  margin-right: 6rem;
}
