////
/// Section Card Row
////

@import '../../../../golden/css/scss/utilities/utilities';

.project-card-row_header {
  @include grid-container;
}

.project-card-row_title {
  @include grid-column(12);
  @include h6();
  font-family: $font-sans;
  font-weight: $font-bold;
  color: color(red);
  margin-bottom: 2rem;
}

.project-card-row_grid {
  @include grid-container;
  
  @include grid-media($media-md) {
    display: flex;
    flex-wrap: wrap;
  }

  .project-card {
    margin-bottom: 3rem;

    @include grid-media($media-md) {
      @include grid-column(6);
    }
  }
}