@import '../../molecules/scroll_nav/scroll_nav';

.scroll-nav_item {
  margin-bottom: 2rem !important;

  a {
    @include padding(1rem 3rem);
    color: color(base);
    display: block;
    font-size: 2rem;
    font-weight: $font-bold;
    box-shadow: inset 0px -2px 0px 0px transparent;

    &:hover,
    &.is-active {
      background-color: color(cool-grey-lighter);
      box-shadow: inset 0px -2px 0px 0px color(gold);
      color: color(base);
    }
  }

  a:visited {
    color: color(base);
  }
}
