////
/// Summary items
////

@import '../../../../golden/css/scss/utilities/utilities';

.summary-items {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 104%;
    height: rem-calc(5);
    background-color: color(cool-grey-lightest);
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.summary-items_list {
  @include unstyled-list;
}

.summary-items_title {
  @include h4();
  font-family: $font-sans;
  font-weight: $font-bold;
  margin-top: 0;
}

.summary-items_description {
  font-size: 1.8rem;

  p {
    line-height: 3rem;
  }
}

.summary-items_header {
  margin-bottom: 3rem;
}