////
/// Timeline Item
////

@import '../../../../golden/css/scss/utilities/utilities';

.timeline_item {
  @include padding(null null 3rem null);
  list-style: none;

  @include grid-media($media-lg) {
    @include padding(null null 0 null);
    flex-grow: 1;
    flex-basis: 0;
  }

  // remove line from last timeline item
  &:last-of-type {
    .timeline_time {
      &:after {
        width: 0;
      }
    }
  }
}

.timeline_icon {
  height: 5rem;
  width: 5rem;
}

.timeline_time {
  display: block;
  position: relative;
  width: 100%;

  @include grid-media($media-lg) {
    @include timeline-line();
    @include timeline-dot();
    margin-bottom: 4rem;
  }
}

.timeline_description {
  line-height: 3rem;
  
  @include grid-media($media-lg) {
    padding-right: 4rem;
  }
}
