////
/// Timeline
////

@import '../../../../golden/css/scss/utilities/utilities';

.timeline {
  &.has-background-dark {
    background-color: color(black);

    .timeline_time {
      &:after {
        border: 1px solid color(grey-dark);
      }
    }
  }
}

.timeline_list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include grid-media($media-lg) {
    display: flex;
  }
}
